package {
    name "sword" 
    author "elias-michaias" 
    url "https://github.com/elias-michaias/sword" 
    description "A fine-grained, functional, front-end framework for the web in Onyx." 
    version "1.6.0" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    "https://github.com/onyx-lang/pkg-http-server" "0.3.8" git="https://github.com/onyx-lang/pkg-http-server" 
}

lsp {
    mode "project" 
    source_files "./main.onyx" 
    runtime "js" 
    include_dirs "" 
    working_dir "." 
}

build {
    client {
        runtime "js" 
        source "./main.onyx" 
        target "./dist/app.wasm" 
    }
    server {
        runtime "onyx" 
        source "./server.onyx" 
        target "./dist/server.wasm" 
    }
}

