package {
    name "sword" 
    author "elias-michaias" 
    url "https://github.com/elias-michaias/sword" 
    description "A fine-grained, functional, front-end framework for the web in Onyx." 
    version "0.0.1" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

lsp {
    mode "project"
    source_files "src/main.onyx"
    runtime "js"
    include_dirs ""
    working_dir "."
}
