package {
    name "sword-test-serve" 
    author "elias-michaias" 
    url "https://github.com/elias-michaias/sword" 
    description "A fine-grained, functional, front-end framework for the web in Onyx." 
    version "1.12.0" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    "https://github.com/onyx-lang/pkg-http-server" "0.3.8" git="https://github.com/onyx-lang/pkg-http-server" 
}

lsp {
    mode "project" 
    source_files "./server.onyx" 
    runtime "onyx" 
    include_dirs "" 
    working_dir "." 
}

build {
    default {
        source "./server.onyx" 
        target "../dist/server.wasm" 
    }
}

